$peergreen:#41B54A;
$fullheight:100vh;
$roundgradient: radial-gradient(#4fae31, #3ca652);
$white:#FAFAFA;
$black:#363636;
$basefont: Roboto;
$extralight:100;
$light: 300;
$normal:400;
$bold:700;
$title:2.2em;
$titlemobile:1.4em;
$text:1.2em;
$textmobile:0.8em;
$letterspace:1px;
$slightgrey:#f8f8f8;
$bodybg:#f1f1f1;
$grey:#404040;
$enable-shadows: true;

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
* {
    outline:none;
}
// ::-webkit-scrollbar {
//     display: none;
// }
body {
    font-family: $basefont;
    background:$bodybg;
}
.center-content {
    text-align:center;
}
.row {
    margin-right:0px;
    margin-left:0px;
}
section#language {
    bottom:-400px;
}
section#language.show {
    bottom:0 !important;
}
section#language {
    position: fixed;
    z-index: 999999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    width:100%;
    max-height:400px;
    min-height:200px;
    transition: 0.2s linear;
    overflow-y: scroll;
    .lang {
        cursor:pointer;
        button {
            margin:30px 0px;
            background: $peergreen;
            color:#ffffff;
            cursor:pointer;
        }
    }
    .col-4 {
        padding: 30px;
    }
    img {
        width:25px;
        float:left;
        margin-right:10px;
    }
    h1 {
        padding: 30px 0px;
        margin:0;
        opacity: 0.15;
        font-size:3em;
    }
}
section#first {
    padding-bottom:60px;
    background: $roundgradient;

    img.main_logo {
        margin:8vh;
        width:15%;
    }
    h1.title {
        color:$white;
        font-weight:$light;
    }
    p.desc {
        color:$white;
        font-weight:$light;
        font-size:$text;
        width: 50%;
        margin:0 25% 2% 25%;
        letter-spacing:$letterspace;
    }
    header {
        nav.mobile-only {
            position: fixed;
            overflow-y: scroll;
            z-index: 999;
            background: $peergreen;
            width: 100%;
            height: 100vh;
            left: -100%;
            transition:0.2s ease-in-out;
            padding-top: 15px;
            span.menu-close {
                img {
                    width:30px;
                    margin-left:30px;
                }
            }
            ul.navbar-nav {
                margin-top:35px;
                li.nav-item {
                    padding-left: 10%;
                    ul {
                        padding: 0px 15px;
                        position: initial;
                        height:0px;
                        background: none;
                        box-shadow: none;
                        transition: 0.2s linear;
                        color:#ffffff;
                        li {
                            width : 100%;
                            padding: 10px;
                            a {
                                span.icon {
                                    background: none;
                                    img {
                                        width:25px;
                                        filter: invert(100%);
                                        margin-right:10px;
                                    }
                                }
                            }
                        }
                    }
                }
                li.nav-item.clicked {
                    ul {
                        padding: 15px 15px;
                        height:auto;
                    }
                }
            }
        }
        span.menu-trigger {
            display:none;
            position:fixed;
            right:0px;
            top:0px;
            z-index: 1000;
            background:$peergreen;
            padding:10px;
            img {
                width:35px;
            }
        }
        nav.mobile-only.show {
            left:0px;
            span.menu-trigger {
                position:absolute;
                left:0%;
                img {
                    width:35px;
                }
            }
        }
        nav {
            padding-top:25px;
        }
        ul {
            width:100%;
            li.nav-item {
                padding:15px;
                position: relative;
                ul {
                    position: absolute;
                    border-radius:5px;
                    overflow: hidden;
                    padding:0px;
                    z-index: -1;
                    opacity: 0;
                    top: 100vh;
                    background: #ffffff;
                    list-style: none;
                    transition: 0s ease-in-out;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                    li.article-heading {
                        padding: 15px;
                        color:#363636;
                    }
                }

                a {
                color: $white;
                    span {
                        background:$white;
                        color:$peergreen;
                        padding:6px;
                        border-radius:100px;
                    }
                }
            }
            li#learn {
                .row {
                    padding:15px 0px;
                    margin-bottom: 10px;
                    .icon {
                        img {
                            width:55px;
                            border:7px solid #f1f1f1;
                            border-radius: 50px;
                        }
                    }
                }
                ul.submenuitem {
                    min-width:400px;
                    left:-160px;
                    div.article-heading {
                        padding:15px;
                        background: #f8f8f8;
                        .col-10 {

                        }
                        h4 {
                            margin-top:2px;
                            margin-bottom:2px;
                            font-size: 1.3em !important;
                            opacity: 0.75;
                        }
                        p {
                            margin-bottom:0;
                        }
                    }
                    .row {
                        a {
                            color:$peergreen;
                            padding: 15px 0px;
                        }
                        a:hover {
                            filter: grayscale(100);
                            text-decoration: none;
                        }
                        li {
                            text-align:center;
                            padding:10px;

                        }
                    }
                }
            }
            li#get-started,
            li#resources,
            li#projects,
            li#community {
                ul {
                    .col-12 {
                        padding:0px;
                    }
                    width: 300px;
                    left: -100px;
                    padding-top: 30px;
                    padding-bottom: 20px;
                    li {
                        padding: 10px 15px;
                        transition: 0.1s ease-in;
                        cursor:pointer;
                        span {
                            background:none;
                            img {
                                width:20px;
                                margin-right:15px;
                            }
                        }
                    }
                    li.contactUs {
                        color:#ffffff;
                        background: $peergreen;
                        img {
                            filter:invert(100%);
                        }
                    }
                    li.contactUs:hover {
                        img {
                            filter:invert(0%);
                        }
                    }
                    li:hover {
                        padding-left: 20px;
                        background: $slightgrey;
                        color:$peergreen;
                    }
                }
            }
            li:hover {
                ul {
                    opacity: 1;
                    top: 70px;
                    z-index: 9;
                }
            }


        }
        nav.stick {
            position: fixed;
            opacity: 0;
            transition:0.2s linear;
            background:rgba($peergreen,0.9);
            top:0;
            width:100%;
            display:block;
            z-index: -9;
            padding-top:0px;
            padding-bottom:0px;
            .row {
                padding:0px 5%;
                .col-sm-3 {
                    padding:12px;
                }
                ul {
                    margin-bottom:0px;
                    text-align:right;
                    li {
                        display:inline-block;
                        ul {
                            text-align:left;
                            li {
                                display:block;
                            }
                        }
                    }
                }
            }
        }
        nav.stick.show {
            opacity: 1;
            z-index: 999;
        }
    }

}
section#two {
    .row {
        img.laptop-mobile {
            width: 100%;
            margin-bottom: 35px;
            display: none;
        }
        .col-md-6 {
            h1.title {
                font-weight:$light;
                color:$peergreen;
            }
            button {
                margin-top:25px;
            }
        }
    }
    padding:15vh 0px;
    background:url('../img/laptop.png') no-repeat right;
    background-size: 40%;
    min-height: 80vh;
}
section#three {
    background:$slightgrey;
    padding:90px 0px;
    .row {
        margin:25px 0px;
        .col-md-6 {
            margin:15px 0px;
        }
        .col-md-6.image-wrapper {
            text-align:center;
            img {
                width:80%;
            }
        }
        margin-bottom:30px;
        h1.title {
            font-weight:$light;
            color:$peergreen;
        }
        button {
            background:$slightgrey;
            margin-top:25px;
        }
    }
    .row:nth-child(even) {
        .col-md-6.content-wrapper {
            order: 2;
        }
    }
}
section#four {
    padding:60px 0px;
    background:$peergreen;
    color:$white;
    h1.title {
        font-weight:$light;
        font-size:$title;
        margin-bottom:25px;
    }
    .card {
        background:none;
        border:none;
        .card-header {
            cursor:pointer;
            padding-left:0px;
            span {
                img {
                    width:25px;
                    margin-right:10px;
                }
            }
        }
        .card-body {
            .col-md-6:first-child {
                opacity:0.8;
                text-align:justify;
            }
            .col-md-6{
                img {
                    width:100%;
                }
            }
        }
        .card-header {
            background:none;
            border:none;
        }
    }
}
section#five {
    text-align:center;
    padding:60px 0px;
    .title {
        font-weight:$light;
        color:$peergreen;
    }
    .desc {
        width:60%;
        margin-left:20%;
        opacity:0.75;
    }
    .col-md-4 {
        margin:15px 0px;
        .imgwrap {
            width:100%;
            height:200px;
            margin-top:10px;
        }
        .imgwrap.blog1 {
            background:url('../img/blog1.png');
        }
        .imgwrap.blog2 {
            background:url('../img/blog2.png');
        }
        .imgwrap.blog3 {
            background:url('../img/blog3.png');
        }
        h2 {
            font-weight:$light;
            padding:10px 0px 0px 0px;
            margin:0;
        }
        p {
            font-size:0.9em;
            color:$grey;
        }
        span.time {
            font-style:italic;
            font-size:0.7em;
            opacity: 0.5;
        }
        button {
            transition:0.2s ease-in-out;
            border-color:$grey;
            color:$grey;
            opacity: 0.5;
            cursor:pointer;
        }
        button:hover {
            border-color:$peergreen;
            color:$peergreen;
            opacity: 1;
        }
    }
}
section#six {
    background:$black;
    text-align:center;
    padding:60px 0px;
    padding-bottom:200px;
    h1.title {
        color:$peergreen;
        font-weight:$light;
    }
    p.desc {
        color:$white;
        width:60%;
        margin:0px 20%;
    }
    .signupwrap {
        margin:30px 30%;
        width:40%;
        input[type=text] {
            width:70%;
            height:50px;
            border:none;
            padding:15px;
            color:rgba(0,0,0,0.5);
        }
        input[type=text]::-webkit-input-placeholder {
            color:rgba(0,0,0,0.25);
        }
        input[type=submit] {
            width:30%;
            height:50px;
            border:none;
            background:$peergreen;
            color:$white;
        }
    }
}
footer {
    background:none;
    .container.footerwrapper {
        padding:25px;
        background:#ffffff;
        margin-top:-200px;
        ul {
            list-style:none;
            padding:0;
            margin-bottom:5px;
            li.title {
                font-size:1.2em;
                margin-bottom:12px;
            }
            li.list {
                font-size:0.9em;
                opacity:0.5;
                margin:3px 0px;
            }
            li.sublist {
                margin:4px 0px;
                font-size:0.9em;
                opacity:0.5;
            }
        }
    }
    .container.postfooter{
        padding:15px 0px;
        .row {
            .col-12 {
                padding:0;
                span {
                    font-size:0.9em;
                    opacity: 0.5;
                }
                span.right {
                    float:right;
                }
            }
        }
    }
}
// BUTTON STYLES
button {
    background:$white;
    border:2px solid $white;
    border-radius:100px;
    color:$peergreen;
    width:200px;
    height:50px;
}
button.reverse {
    background:none;
    color:$white;
}
button.green {
    background:$peergreen;
    color:$white;
}
button.shadow {
    box-shadow:8px 8px 15px rgba(0,0,0,0.15);
    color:$peergreen;
}
#accordion {
    position:relative;
    padding-left:30px;
    .card {
        .card-header::after {
            position:absolute;
            content:"";
            left:-29px;
            width:20px;
            height:20px;
            background:#caffce;
            top:15px;
            border-radius:100px;
            border:4px solid $peergreen;
            z-index: 99;
        }
    }
}
#accordion::after {
    position:absolute;
    top:0;
    bottom:0;
    left:10px;
    width:2px;
    content:"";
    background:$white;
    opacity:0.5;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    section#language {
        max-height: 40vh;
        .col-4 {
            cursor:pointer;
            .lang {
                padding: 15px 0px;
            }
            button {
                width:100px;
            }
        }
        img {
            width:25px;
            float:left;
            margin-right:10px;
        }
        h1 {
            font-size:1em;
            line-height: 3em;
        }
    }
    section#first{
        padding-bottom:0px;
        header{
            span.menu-trigger {
                display:block;
            }
            nav.navbar{
                display:none !important;
            }
        }
        img.main_logo {
            margin:15vh 0px;
            margin-bottom:6vh;
            width:25vh;
        }
        h1.title {
            font-size:$titlemobile;
            font-weight:$light;
        }
        p.desc {
            font-size:$textmobile;
            width: 80%;
            margin:0 10% 2% 10%;
            letter-spacing:$letterspace;
        }
        .buttonWrap {
            padding:5vh 0vh;
        }
    }
    button {
        width:200px;
        height:50px;
        margin:5px;
    }
    button.reverse {
        background:none;
        color:$white;
    }
    section#two {
        padding:5vh 0px;
        background:none;
        * {
            text-align:center;
        }
    }
    section#two {
        .row {
            img.laptop-mobile {
                display: block;
            }
        }
    }
    section#three {
        .row:nth-child(even) {
            .col-md-6.content-wrapper {
                order: 1;
            }
        }
        .row:nth-child(even) {
            .col-md-6.image-wrapper {
                order: 1;
            }
        }
    }
    section#six {
        padding-bottom:60px;
        h1.title {
            font-size:1.4em;
        }
        p.desc {
            font-size:0.8em;
            width: 100%;
            margin:0;
            padding:0px 15px;
            opacity: 0.75;
        }
        .signupwrap {
            width:90%;
            margin:5%;
            input[type=text],
            input[type=submit] {
                height:40px;
            }
        }
    }
    footer {
        .container.footerwrapper {
            margin-top: 0;
        }
        .container.postfooter{
            .row {
                text-align:center;
                .col-12 {
                    span {
                        font-size:0.7em;
                    }
                    span.right {
                        float:none;
                    }
                }
            }
        }
    }
    #accordion {
        * {
            padding-right:0px;
        }
        .card-body {
            padding:0px;
            font-size:0.8em;
        }
    }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    section#first {
        img.main_logo {
            margin:12vh;
        }
    }
}

#loader-wrapper {
    width: 100vw;
    height: 100vh;
    background: #46AA3F;
    position: absolute;
    z-index: 999999;
    top: 0;
  }
  #loader {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(220deg)
    }
  }
  #loader:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
  }
  @keyframes animate2 {
    0% {
      box-shadow: inset #fff 0 0 0 17px;
      transform: rotate(-140deg);
    }
    50% {
      box-shadow: inset #fff 0 0 0 2px;
    }
    100% {
      box-shadow: inset #fff 0 0 0 17px;
      transform: rotate(140deg);
    }
  }

  html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
