### OSX ###
.AppleDouble
.LSOverride
.tx


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Other Stuff
wiki/
blog/
html/

# reCAPTCHA keys
include/recaptcha_keys.php
8AC722ACF131D71F7FC21ADB7A03D561.txt

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist