@import "../../style/_variables";

.latest-news {
  display: flex;
  justify-content: space-between;

  .post {
    display: block;
    max-width: 370px;
    border-radius: 6px;
    box-shadow: 0 20px 32px -5px rgba(15, 39, 61, 0.12);
    transition: all 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
    text-decoration: none;
    
    &:hover {
      box-shadow: 0 20px 32px -3px rgba(15, 39, 61, 0.12), 0 32px 72px -20px rgba(15, 39, 61, 0.17), 0 40px 100px 0 rgba(9, 24, 37, 0.09);
      transform: translateY(-4px);
    }

    &__img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 6px 6px 0 0;
    }

    &__title {
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      color: $color-green;
      margin-top: 20px;
      min-height: 80px;
      padding: 0 15px;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 45px;
      text-align: center;
      font-size: 1.6rem;
      margin: 20px auto;
      color: $color-green;
      text-decoration: none;
      transition: background 0.2s linear;

      &:hover {
        background: rgba($color-green, 0.1);
        border-radius: 4px;
      }
    }
  }
}