.Reader {
    &__container {
        min-height: 100vh;

        &--fault {
            min-height: 10vh;
        }
    }
    &__embed {
        min-height: 100vh;
        padding: 5rem;
        width: 100%;
    }
    &__button {
        display: flex;
        justify-content: center;
        margin: 3rem;
    }
}