@import "../../style/_variables";

.hero {
  position: relative;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: $color-green;
  padding-top: 150px;
  padding-bottom: 50px;

  &__title {
    color: #fff;
    font-weight: 200;
    font-size: 4rem;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  &__description {
    width: 700px;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #fff;
    text-align: center;
    font-weight: 300;
  }

  &__actions {
    display: flex;
    margin-top: 35px;

    &__action {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 202px;
      height: 52px;
      border-radius: 100px;
      border: 2px solid #fff;
      color: #fff;
      text-decoration: none;
      transition: all 0.5s cubic-bezier(.02,.7,.4,1);

      &:hover {
        transform: translate3d(0, -4px, 0);
      }

      &--white {
        background: #fff;
        color: $color-green;
      }

      + a {
        margin-left: 20px;
      }
    }
  }
}

.home-description {
  display: flex;
  align-items: center;
  margin: 40px 0;

  &__text {
    flex: 1;
    margin-right: 50px;

    &--left {
      margin-right: 0;
      margin-left: 50px;
    }

    &__title {
      color: $color-green;
      margin-bottom: 30px;
      font-size: 3rem;
      font-weight: 300;
    }

    p {
      font-weight: 300;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }

  &__img {
    width: 510px;
  }
}