@import "../../style/_variables";
@import "../../style/_viewports";

.Index {
  &.hero {
    .hero__logo, .hero__actions {
      @include viewports(large) {
        width: 30rem;
      }
      @include viewports(medium) {
        width: 25rem;
      }
      @include viewports(small) {
        width: 55%;
      }
      @include viewports(tiny) {
        width: 75%;
      }
    }

    .hero__logo {
      padding-bottom: 2.5%;
    }
  }
}

.home-youtube {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid $color-grey-lighter;
  padding-bottom: 50px;

  &__subtext {
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: -10px;
    max-width: 800px;
  }

  &__video {
    margin-bottom: 50px;
    
    @include viewports(up-to medium) {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      width: 100%;
    }

    &__player {
      @include viewports(up-to medium) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .video-buttons {
    @include viewports(up-to medium) {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
    }

    .btn {
      cursor: pointer;

      @include viewports(up-to medium) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
      }

      &--selected {
        transform: scale(0.9);
        background: $color-black;
      }
    }
  }
}

.hero {
  position: relative;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $color-green;
  min-height: 100vh;

  @include viewports(above small) {
    padding: 150px 0;
  }

  @include viewports(up-to small) {
    padding: 50px 0;
  }
    
  @media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
      @include viewports(up-to tiny) {
        min-height: -webkit-fill-available;
      }
    }
  }
  
  &--thin {
    min-height: 0;
    padding-top: 110px;
    padding-bottom: 30px;
  }

  > img {
    @include viewports(up-to tiny) {
      width: 70%;
      margin-top: 100px;
    }
  }

  &__title {
    color: #fff;
    font-weight: 200;
    font-size: 4rem;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;

    @include viewports(up-to tiny) {
      font-size: 2.5rem;
    }
  }

  &__description {
    width: 700px;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #fff;
    text-align: center;
    font-weight: 300;

    @include viewports(up-to tiny) {
      width: 100%;
    }
  }

  &__actions {
    display: flex;
    margin-top: 35px;

    @include viewports(up-to small) {
      justify-content: center;
    }

    &__action {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 52px;
      border-radius: 100px;
      border: 2px solid #fff;
      color: #fff;
      text-decoration: none;
      white-space: nowrap;
      transition: all 0.5s cubic-bezier(.02,.7,.4,1);
      
      @include viewports(tiny) {
        font-size: 75%;
      }
            
      @include viewports(medium) {
        font-size: 80%;
      }

      &:hover {
        transform: translate3d(0, -4px, 0);
      }

      &--white {
        background: #fff;
        color: $color-green;
      }

      + a {
        margin-left: 10px;
      }
    }
  }
}

.home-description {
  display: flex;
  align-items: center;
  margin: 40px 0;

  @include viewports(up-to tiny) {
    flex-direction: column;
    align-items: center;
  }

  &__text {
    flex: 1;
    margin-right: 50px;

    @include viewports(up-to tiny) {
      order: 2;
      margin-right: 0;
      margin-bottom: 50px;
    }

    &--left {
      margin-right: 0;
      margin-left: 50px;

      @include viewports(up-to tiny) {
        margin-left: 0;
      }
    }

    &__title {
      color: $color-green;
      margin-bottom: 30px;
      font-size: 3rem;
      font-weight: 300;
    }

    p {
      font-weight: 300;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }

  &__img {
    width: 510px;

    @include viewports(up-to tiny) {
      width: 80%;
      order: 1;
    }

    @include viewports(up-to medium) {
      width: 300px;
    }
  }
}

.timeline {
  display: inline-block;

  &--dark {
    .timeline__body__section {
      &:before {
        border-color: $color-black;
      }
    } 
  }
  
  &__title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 300;
    margin: 50px 0;
  }
  
  &__body {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background: rgba(#fff, 0.5);
      border-radius: 100px;
    }

    &__section {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 500;
      color: #fff;
      margin-top: 10px;
      margin-bottom: 20px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: -29px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
        border: 4px solid $color-green;
      }

      img {
        width: 25px;
        margin-right: 10px;
      }
    }

    &__content {
      display: flex;

      @include viewports(up-to tiny) {
        flex-direction: column;
        align-items: center;
      }

      &__text {
        flex: 1;
        color: #fff;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 300;
        margin-right: 40px;

        a {
          color: inherit;
          text-decoration: none;
          padding: 2px 0;
          font-weight: 500;
          border-bottom: 2px solid rgba(#fff, 0.2);
          transition: all 0.2s linear;

          &:hover {
            border-bottom: 2px solid rgba(#fff, 0.8);
          }
        }
      }

      &__img {
        max-width: 550px;

        img {
          width: 100%;

          @include viewports(up-to medium) {
            width: 250px;
          }
        }
      }
    }

    code {
      background: rgba($color-green, 0.1);
      border: 1px solid rgba($color-green, 0.1);
      padding: 2px 4px;
      border-radius: 3px;
      color: $color-green;
      font-weight: normal;
      font-size: 1.5rem;
      text-shadow: 0 1px 0 rgba(#000, 0.3);
    }
  }
}