@import "../../style/_variables";

.hero {
  position: relative;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: $color-green;
  padding-top: 150px;
  padding-bottom: 50px;

  &--thin {
    min-height: 0;
    padding-top: 110px;
    padding-bottom: 30px;
  }

  &__title {
    color: #fff;
    font-weight: 200;
    font-size: 4rem;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  &__description {
    width: 700px;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #fff;
    text-align: center;
    font-weight: 300;
  }

  &__actions {
    display: flex;
    margin-top: 35px;

    &__action {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 202px;
      height: 52px;
      border-radius: 100px;
      border: 2px solid #fff;
      color: #fff;
      text-decoration: none;
      transition: all 0.5s cubic-bezier(.02,.7,.4,1);

      &:hover {
        transform: translate3d(0, -4px, 0);
      }

      &--white {
        background: #fff;
        color: $color-green;
      }

      + a {
        margin-left: 20px;
      }
    }
  }
}

.home-description {
  display: flex;
  align-items: center;
  margin: 40px 0;

  &__text {
    flex: 1;
    margin-right: 50px;

    &--left {
      margin-right: 0;
      margin-left: 50px;
    }

    &__title {
      color: $color-green;
      margin-bottom: 30px;
      font-size: 3rem;
      font-weight: 300;
    }

    p {
      font-weight: 300;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }

  &__img {
    width: 510px;
  }
}

.timeline {
  display: inline-block;
  
  &__title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 300;
    margin: 25px 0;
  }
  
  &__body {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background: rgba(#fff, 0.5);
      border-radius: 100px;
    }

    &__section {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 500;
      color: #fff;
      margin-top: 10px;
      margin-bottom: 20px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: -29px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
        border: 4px solid $color-green;
      }

      img {
        width: 25px;
        margin-right: 10px;
      }
    }

    &__content {
      display: flex;

      &__text {
        flex: 1;
        color: #fff;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 300;
        margin-right: 40px;

        a {
          color: inherit;
          text-decoration: none;
          padding: 2px 0;
          font-weight: 500;
          border-bottom: 2px solid rgba(#fff, 0.2);
          transition: all 0.2s linear;

          &:hover {
            border-bottom: 2px solid rgba(#fff, 0.8);
          }
        }
      }

      &__img {
        max-width: 550px;

        img {
          width: 100%;
        }
      }
    }
  }
}