.list-item {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.bounty-image-parent {
    width: 100%;
    text-align: center;
    padding: 1vw;
}

.bounty-image {
    width: 70%;
}