<header>
<div className="header-mob-block">


<div className="mob-logo"><a href="index.html"><img src="img/logo_main.svg" alt="" /></a></div>
  <span className="menu-trigger"><img src="img/menu.png" alt="" /></span>
</div>

<nav className="mobile-only">
    <span className="menu-close" ><img src="img/back.png" alt="" /></span>
    <ul className="navbar-nav justify-content-center">
        <li id="home" className="nav-item">
            <a className="nav-link" href="index.html">Home</a>
        </li>
        <li className="nav-item">
            <a className="nav-link" href="#">Learn</a>
            <ul className="submenuitem">
                <div className="col-12">
                    <script language="javascript" type="text/javascript" src="learn-articles.html"></script>
                </div>
            </ul>
        </li>
        <li className="nav-item">
            <a className="nav-link" href="index.html#getstarted">Get Started</a>
        </li>
        <li className="nav-item">
            <a className="nav-link" href="resources.html">Resources</a>
            <ul className="submenuitem">
                <li><a href="https://docs.peercoin.net/" className=""><span className="icon"><img src="img/icons/docs_white.png" alt="" className="mobile_menu" /></span>Documentation</a></li>
                <li><a href="resources.html#mining" className=""><span className="icon"><img src="img/icons/pickaxe.png" alt="" className="mobile_menu" /></span>Mining</a></li>
                <li><a href="resources.html#university" className=""><span className="icon"><img src="img/icons/graduationcap_white.png" alt="" className="mobile_menu" /></span>Peercoin University</a></li>
                <li><a href="resources.html#exchanges" className=""><span className="icon"><img src="img/icons/exchange_white.png" alt="" className="mobile_menu" /></span>Exchanges</a></li>
                <li><a href="resources.html#blockexplorers" className=""><span className="icon"><img src="img/icons/block_white.png" alt="" className="mobile_menu" /></span>Block Explorers</a></li>
                <li><a href="resources.html#whitepaper" className=""><span className="icon"><img src="img/icons/whitepaper_white.png" alt="" className="mobile_menu" /></span>Whitepaper</a></li>
                <li><a href="resources.html#graphics" className=""><span className="icon"><img src="img/icons/graphics_white.png" alt="" className="mobile_menu" /></span>Graphics</a></li>
            </ul>
        </li>
        <li className="nav-item">
            <a className="nav-link" href="#">Project</a>
            <ul className="submenuitem">
                <li><a href="https://github.com/peercoin/" className=""><span className="icon"><img src="img/icons/github_white.png" alt="" className="mobile_menu" /></span>Github</a></li>
                <li><a href="projects.html" className=""><span className="icon"><img src="img/icons/projects_white.png" alt="" className="mobile_menu" /></span>Projects</a></li>
                <li><a href="https://medium.com/peercoin" className=""><span className="icon"><img src="img/icons/blog_white.png" alt="" className="mobile_menu" /></span>Blog</a></li>
                <li><a href="foundation.html" className=""><span className="icon"><img src="img/icons/foundation_white.png" alt="" className="mobile_menu" /></span>Peercoin Foundation</a></li>
                <li><a href="contactus.html" className=""><span className="icon"><img src="img/icons/contact_white.png" alt="" className="mobile_menu" /></span>Contact Us</a></li>
            </ul>
        </li>
        <li className="nav-item">
            <a className="nav-link" href="wallet.html">Wallet</a>
        </li>
        <li className="nav-item">
            <a className="nav-link" href="resources.html#communities">Community</a>
            <ul className="submenuitem">
                <li><a href="https://talk.peercoin.net/" className=""><span className="icon"><img src="img/icons/forum_white.png" alt="" className="mobile_menu" /></span>Forum</a></li>
                <li><a href="https://twitter.com/PeercoinPPC" className=""><span className="icon"><img src="img/icons/twitter_white.png" alt="" className="mobile_menu" /></span>Twitter</a></li>
                <li><a href="https://www.facebook.com/Peercoin/" className=""><span className="icon"><img src="img/icons/facebook_white.png" alt="" className="mobile_menu" /></span>Facebook</a></li>
                <li><a href="https://www.reddit.com/r/peercoin" className=""><span className="icon"><img src="img/icons/reddit_white.png" alt="" className="mobile_menu" /></span>Reddit</a></li>
                <li><a href="https://www.reddit.com/r/peercoin" className=""><span className="icon"><img src="img/icons/telegram_white.png" alt="" className="mobile_menu" /></span>Telegram</a></li>
                <li><a href="https://discord.gg/XPxfwtG" className=""><span className="icon"><img src="img/icons/discord_white.png" alt="" className="mobile_menu" /></span>Discord</a></li>
                <li><a href="https://www.youtube.com/user/PeerCoin" className=""><span className="icon"><img src="img/icons/youtube_white.png" alt="" className="mobile_menu" /></span>Youtube</a></li>
                <li><a href="https://bitcointalk.org/index.php?topic=101820.0;topicseen" className=""><span className="icon"><img src="img/icons/bitcoinchat_white.png" alt="" className="mobile_menu" /></span>Bitcointalk</a></li>
            </ul>
        </li>

    </ul>
</nav>

<nav className="navbar navbar-expand-lg">
    <div className="collaspe navbar-collapse" id="navbarNav">
        <ul className="navbar-nav justify-content-center">
            <li id="home" className="nav-item">
                <a className="nav-link" href="index.html">Home</a>
            </li>

            <li id="learn" className="nav-item">
                <a className="nav-link" href="#">Learn</a>
                <ul className="submenuitem">
                    <div className="row">
                        <div className="col-12">
                            <script language="javascript" type="text/javascript" src="learn-articles.html"></script>
                        </div>
                    </div>
                </ul>
            </li>

            <li id="get-started" className="nav-item">
                <a className="nav-link" href="index.html#getstarted">Get Started</a>
            </li>

            <li id="resources" className="nav-item">
                <a className="nav-link" href="resources.html">Resources</a>
                <ul className="submenuitem">
                    <li><a href="https://docs.peercoin.net/" className="submenu"><span className="icon"><img src="img/icons/docs_green.png" alt="" />Documentation</span></a></li>
                    <li><a href="resources.html#mining" className="submenu"><span className="icon"><img src="img/icons/pickaxe_green.png" alt="" />Mining</span></a></li>
                    <li><a href="resources.html#university" className="submenu"><span className="icon"><img src="img/icons/graduationcap.png" alt="" />Peercoin University</span></a></li>
                    <li><a href="resources.html#exchanges" className="submenu"><span className="icon"><img src="img/icons/exchange_green.png" alt="" />Exchanges</span></a></li>
                    <li><a href="resources.html#blockexplorers" className="submenu"><span className="icon"><img src="img/icons/block_green.png" alt="" />Block Explorers</span></a></li>
                    <li><a href="resources.html#whitepaper" className="submenu"><span className="icon"><img src="img/icons/whitepaper_green.png" alt="" />Whitepaper</span></a></li>
                    <li><a href="resources.html#graphics" className="submenu"><span className="icon"><img src="img/icons/graphics_green.png" alt="" />Graphics</span></a></li>
                </ul>
            </li>

            <li id="projects" className="nav-item">
                <a className="nav-link" href="#">Project</a>
                <ul className="submenuitem">
                    <li><a href="https://github.com/peercoin/" className="submenu"><span className="icon"><img src="img/icons/github_green.png" alt="" />GitHub</span></a></li>
                    <li><a href="projects.html" className="submenu"><span className="icon"><img src="img/icons/projects_green.png" alt="" />Projects</span></a></li>
                    <li><a href="https://medium.com/peercoin" className="submenu"><span className="icon"><img src="img/icons/blog_green.png" alt="" />Blog</span></a></li>
                    <li><a href="foundation.html" className="submenu"><span className="icon"><img src="img/icons/foundation_green.png" alt="" />Peercoin Foundation</span></a></li>
                    <li><a href="contactus.html" className="submenu"><span className="icon"><img src="img/icons/contact_green.png" alt="" />Contact Us</span></a></li>
                </ul>
            </li>
                      <li id="wallet" className="nav-item">
                <a className="nav-link" href="wallet.html">Wallet</a>
            </li>

            <li id="community" className="nav-item">
                <a className="nav-link" href="resources.html#communities">Community</a>
                <ul className="submenuitem">
                    <li><a href="https://talk.peercoin.net/" className="submenu"><span className="icon"><img src="img/icons/forum_green.png" alt="" />Forum</span></a></li>
                    <li><a href="https://twitter.com/PeercoinPPC" className="submenu"><span className="icon"><img src="img/icons/twitter_green.png" alt="" />Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/Peercoin/" className="submenu"><span className="icon"><img src="img/icons/facebook_green.png" alt="" />Facebook</span></a></li>
                    <li><a href="https://www.reddit.com/r/peercoin" className="submenu"><span className="icon"><img src="img/icons/reddit_green.png" alt="" />Reddit</span></a></li>
                    <li><a href="https://www.reddit.com/r/peercoin" className="submenu"><span className="icon"><img src="img/icons/telegram_green.png" alt="" />Telegram</span></a></li>
                    <li><a href="https://discord.gg/XPxfwtG" className="submenu"><span className="icon"><img src="img/icons/discord_green.png" alt="" />Discord</span></a></li>
                    <li><a href="https://www.youtube.com/user/PeerCoin" className="submenu"><span className="icon"><img src="img/icons/youtube_green.png" alt="" />Youtube</span></a></li>
                    <li><a href="https://bitcointalk.org/index.php?topic=101820.0" className="submenu"><span className="icon"><img src="img/icons/bitcoinchat_green.png" alt="" />Bitcointalk</span></a></li>
                </ul>
            </li>


        <li className="nav-item">






<div className="form-group">
  <select id="changeLanguage" onchange="changeLanguage()" className="form-control">


<option value="en">en</option>
<option value="de">de</option>
</select>
</div>
        </li>
        </ul>
    </div>
</nav>
<nav className="navbar navbar-expand-lg stick">
    <div className="row">
        <div className="col-sm-3 d-flex align-items-center">
            <a href="index.html"><img src="img/logo.svg" style="height: 45px;" /></a>
        </div>
        <div className="col-sm-9">
            <ul>
                <li className="nav-item">
                <li id="home" className="nav-item">
                    <a className="nav-link" href="index.html">Home</a>
                </li>
                <li id="learn" className="nav-item">
                    <a className="nav-link" href="#">Learn</a>
                    <ul className="submenuitem">
                        <div className="row">
                            <div className="col-12">
                                <script language="javascript" type="text/javascript" src="learn-articles.html"></script>
                            </div>
                        </div>
                    </ul>
                </li>
                <li id="get-started" className="nav-item">
                    <a className="nav-link" href="index.html#getstarted">Get Started</a>
                </li>
                <li id="resources" className="nav-item">
                    <a className="nav-link" href="resources.html">Resources</a>
                    <ul className="submenuitem">
                        <li><a href="https://docs.peercoin.net/" className="submenu"><span className="icon"><img src="img/icons/docs_green.png" alt="" />Documentation</span></a></li>
                        <li><a href="resources.html#mining" className="submenu"><span className="icon"><img src="img/icons/pickaxe_green.png" alt="" />Mining</span></a></li>
                        <li><a href="resources.html#university" className="submenu"><span className="icon"><img src="img/icons/graduationcap.png" alt="" />Peercoin University</span></a></li>
                        <li><a href="resources.html#exchanges" className="submenu"><span className="icon"><img src="img/icons/exchange_green.png" alt="" />Exchanges</span></a></li>
                        <li><a href="resources.html#blockexplorers" className="submenu"><span className="icon"><img src="img/icons/block_green.png" alt="" />Block Explorers</span></a></li>
                        <li><a href="resources.html#whitepaper" className="submenu"><span className="icon"><img src="img/icons/whitepaper_green.png" alt="" />Whitepaper</span></a></li>
                        <li><a href="resources.html#graphics" className="submenu"><span className="icon"><img src="img/icons/graphics_green.png" alt="" />Graphics</span></a></li>
                    </ul>
                </li>
                <li id="projects" className="nav-item">
                    <a className="nav-link" href="#">Project</a>
                    <ul className="submenuitem">
                        <li><a href="https://github.com/peercoin/" className="submenu"><span className="icon"><img src="img/icons/github_green.png" alt="" />Github</span></a></li>
                        <li><a href="projects.html" className="submenu"><span className="icon"><img src="img/icons/projects_green.png" alt="" />Projects</span></a></li>
                        <li><a href="https://medium.com/peercoin" className="submenu"><span className="icon"><img src="img/icons/blog_green.png" alt="" />Blog</span></a></li>
                        <li><a href="foundation.html" className="submenu"><span className="icon"><img src="img/icons/foundation_green.png" alt="" />Peercoin Foundation</span></a></li>
                        <li><a href="contactus.html" className="submenu"><span className="icon"><img src="img/icons/contact_green.png" alt="" />Contact Us</span></a></li>
                    </ul>
                </li>
                <li id="wallet" className="nav-item">
                    <a className="nav-link" href="wallet.html">Wallet</a>
                </li>
                <li id="community" className="nav-item">
                    <a className="nav-link" href="resources.html#communities">Community</a>
                    <ul className="submenuitem">
                        <li><a href="https://talk.peercoin.net/" className="submenu"><span className="icon"><img src="img/icons/forum_green.png" alt="" />Forum</span></a></li>
                        <li><a href="https://twitter.com/PeercoinPPC" className="submenu"><span className="icon"><img src="img/icons/twitter_green.png" alt="" />Twitter</span></a></li>
                        <li><a href="https://www.facebook.com/Peercoin/" className="submenu"><span className="icon"><img src="img/icons/facebook_green.png" alt="" />Facebook</span></a></li>
                        <li><a href="https://www.reddit.com/r/peercoin" className="submenu"><span className="icon"><img src="img/icons/reddit_green.png" alt="" />Reddit</span></a></li>
                        <li><a href="https://www.reddit.com/r/peercoin" className="submenu"><span className="icon"><img src="img/icons/telegram_green.png" alt="" />Telegram</span></a></li>
                        <li><a href="https://discord.gg/XPxfwtG" className="submenu"><span className="icon"><img src="img/icons/discord_green.png" alt="" />Discord</span></a></li>
                        <li><a href="https://www.youtube.com/user/PeerCoin" className="submenu"><span className="icon"><img src="img/icons/youtube_green.png" alt="" />Youtube</span></a></li>
                        <li><a href="https://bitcointalk.org/index.php?topic=101820.0" className="submenu"><span className="icon"><img src="img/icons/bitcoinchat_green.png" alt="" />Bitcointalk</span></a></li>
                    </ul>
                </li>
        <li className="nav-item">
            <a className="nav-link" href="#">Project</a>
            <ul className="submenuitem">
                <li><a href="https://github.com/peercoin/" className=""><span className="icon"><img src="img/icons/github_white.png" alt="" className="mobile_menu" /></span>Github</a></li>
                <li><a href="projects.html" className=""><span className="icon"><img src="img/icons/projects_white.png" alt="" className="mobile_menu" /></span>Projects</a></li>
                <li><a href="https://medium.com/peercoin" className=""><span className="icon"><img src="img/icons/blog_white.png" alt="" className="mobile_menu" /></span>Blog</a></li>
                <li><a href="foundation.html" className=""><span className="icon"><img src="img/icons/foundation_white.png" alt="" className="mobile_menu" /></span>Peercoin Foundation</a></li>
                <li><a href="contactus.html" className=""><span className="icon"><img src="img/icons/contact_white.png" alt="" className="mobile_menu" /></span>Contact Us</a></li>
            </ul>
        </li>
            </ul>

        </div>
    </div>
</nav>
</header>
