<li>
  <a href="https://peercoin.github.io/PeercoinUniversity/" className="submenu"
    >Peercoin University</a
  >
</li>
<li>
  <a
    href="https://peercoin.github.io/PeercoinUniversity/#/2-what-is-a-blockchain"
    className="submenu"
    >What is a Blockchain?</a
  >
</li>
<li>
  <a
    href="https://peercoin.github.io/PeercoinUniversity/#/6-centralization-of-bitcoin"
    className="submenu"
    >Inherent Centralization of Proof-of-Work Blockchains</a
  >
</li>
<li>
  <a
    href="https://peercoin.github.io/PeercoinUniversity/#/9-peercoin-proof-of-stake-consensus"
    className="submenu"
    >Peercoin & Proof-of-Stake Consensus</a
  >
</li>
<li>
  <a
    href="https://peercoin.github.io/PeercoinUniversity/#/10-first-efficient-sustainable-blockchain"
    className="submenu"
    >Efficient & Sustainable Security</a
  >
</li>
<li>
  <a
    href="https://peercoin.github.io/PeercoinUniversity/#/11-economics-of-peercoin"
    className="submenu"
    >Economics of Peercoin</a
  >
</li>
<li>
  <a
    href="https://peercoin.github.io/PeercoinUniversity/#/12-scalability-of-peercoin"
    className="submenu"
    >Scalability of Peercoin</a
  >
</li>
<li>
  <a
    href="https://medium.com/peercoin/deflation-and-cryptocurrencies-the-long-term-ramifications-of-fixed-supply-currencies-c192f44dddc1"
    className="submenu"
    >Deflation and Cryptocurrencies</a
  >
</li>
<li>
  <a
    href="https://medium.com/peercoin/peercoins-hybrid-chain-solution-to-proof-of-work-global-scaling-and-environmental-impact-c36757e89d6e"
    className="submenu"
    >Peercoin\'s Hybrid Chain Solution</a
  >
</li>
<li>
  <a
    href="https://medium.com/peercoin/the-rich-get-richer-concept-in-proof-of-stake-systems-82c5ceeff326"
    className="submenu"
    >Rich get Richer Fallacy</a
  >
</li>
<li>
  <a
    href="https://docs.peercoin.net/#/frequently-asked-questions"
    className="submenu"
    >Frequently Asked Questions</a
  >
</li>
